@import "tailwindcss";

:root {
  --color-n-50: #ffffff;
  --color-n-100: #f1f5f9;
  --color-n-200: #e2e8f1;
  --color-n-300: #cad5e2;
  --color-n-400: #90a2b9;
  --color-n-500: #62748e;
  --color-n-600: #45556c;
  --color-n-700: #324158;
  --color-n-800: #1d283d;
  --color-n-900: #0e172b;
  --color-n-950: #020617;
  --background: #ffffff;
  --foreground: #171717;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-3-5: 0.875rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-11: 2.75rem;
  --space-16: 4rem;
  --space-44: 11rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-5xl: 3rem;
  --shadow-soft: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-elevated:
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  --login-content-max-width: 28rem;
  --login-footer-max-width: 28rem;
  --login-brand-icon-size: 4rem;
  --login-brand-glyph-size: 1.6875rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  --color-n-50: var(--color-n-50);
  --color-n-100: var(--color-n-100);
  --color-n-200: var(--color-n-200);
  --color-n-300: var(--color-n-300);
  --color-n-400: var(--color-n-400);
  --color-n-500: var(--color-n-500);
  --color-n-600: var(--color-n-600);
  --color-n-700: var(--color-n-700);
  --color-n-800: var(--color-n-800);
  --color-n-900: var(--color-n-900);
  --color-n-950: var(--color-n-950);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-n-950: #ffffff;
    --color-n-900: #f1f5f9;
    --color-n-800: #e2e8f1;
    --color-n-700: #cad5e2;
    --color-n-600: #90a2b9;
    --color-n-500: #62748e;
    --color-n-400: #45556c;
    --color-n-300: #324158;
    --color-n-200: #1d283d;
    --color-n-100: #0e172b;
    --color-n-50: #020617;
    --primary: var(--color-lime-500);
    --secondary: var(--color-teal-500);
  }
}

.dark {
  --color-n-50: #ffffff;
  --color-n-100: var(--color-n-900);
  --color-n-200: var(--color-n-800);
  --color-n-300: var(--color-n-700);
  --color-n-400: var(--color-n-600);
  --color-n-500: var(--color-n-500);
  --color-n-600: var(--color-n-400);
  --color-n-700: var(--color-n-300);
  --color-n-800: var(--color-n-200);
  --color-n-900: var(--color-n-100);
  --color-n-950: var(--color-n-50);
  --primary: var(--color-lime-500);
  --secondary: var(--color-teal-500);
}
